# Mac OS Folder #
#################
.DS_Store

# Exclude build and development folders from Git #
##################################################
.tmp/
dist/

# Dependency directory #
########################
node_modules/
